h2 {
    text-align: center;
    color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
}
#info1 {
    width: 100%;
}
#info1 tr th {
    width: 10%;
    font-weight: bold;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
#info1 tr td {
    font-family: Arial, Helvetica, sans-serif;
}
#kepcella {
    text-align: center;
}
p {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.4cm;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
}
#iskolak1 {
    width: 100%;
}
#iskolak1 tr th{
    width: 10%;
    text-align: left;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.15cm;
}
#iskolak1 tr td {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.15cm;
}

td.leiras{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
td.link {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.15cm;
    font-weight: bold;
}
.hobbi {
    padding-top: 0.2cm;
    border: 1px solid grey;
    width: 200px;
    height: 25px;
    border-radius: 10px;
}
.hobbi b {
    vertical-align:top;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.hobbi2 {
    padding-top: 0.1cm;
    padding-left: 0.1cm;
    font-family: Arial, Helvetica, sans-serif;
    width: 100;
}
#celok {
    padding-top: 0.1cm;
    padding-left: 0.1cm;
    font-family: Arial, Helvetica, sans-serif;
}